body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
textarea {
  font-family: "Space Mono", monospace;
}

.logo {
  display: block;
  margin: 50px auto 10px auto;
  width: 60px;
}

label {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* text-transform: uppercase; */
}

h1 {
  text-align: center;
  font-size: 35px;
  margin: 30px 0 0 0;
}

form {
  max-width: 700px;
  width: 100%;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid #eee;
}

fieldset {
  outline: 0px;
  border: 0px;
}

input,
label,
textarea,
select {
  display: block;
  margin: 10px 0;
}

label {
  font-weight: bold;
  font-size: 20px;
}

.helptext {
  font-size: 13px;
}

input,
textarea {
  width: calc(100% - 20px);
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

select {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 40px;
}

textarea {
  height: 400px;
}

input,
textarea,
button,
select {
  padding: 10px;
}

button {
  display: block;
  width: 200px;
  margin: 10px auto;
  font-weight: bold;
}

input .form-unsubmitted form {
  display: block;
}

.form-unsubmitted .submit-another {
  display: none;
}

.form-submitting input,
.form-submitting label,
.form-submitting button,
.form-submitting textarea,
.form-submitting .helptext,
.form-submitted input,
.form-submitted label,
.form-submitted button,
.form-submitted textarea,
.form-submitted .helptext {
  display: none;
}

.form-submitting form {
  background-color: yellow;
}

.form-submitting form::after {
  content: "Submitting form...";
  text-align: center;
  display: block;
  font-weight: bold;
}

.form-submitted form {
  background-color: green;
}

.form-submitted form::after {
  content: "Form submitted successfully. You should have an email confirmation.";
  text-align: center;
  display: block;
  font-weight: bold;
}
.form-submitted .submit-another {
  display: block;
}

.form-error form {
  background-color: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ccc;
  }
  input,
  textarea {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
  }
  form {
    border: 1px solid #443658;
  }
  a:link,
  a:visited {
    color: #fff;
  }
  button {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
  }
}
